<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project: Hobby - About Us</title>
</head>
<body>
    <h1>Project: Hobby</h1>
    <a href="/store">Home</a>
    <h2>About Us:</h2>
    <p>Let's be clear, we are a FAKE hobby shop.</p>
    <p>The products, in most cases are real, but THIS STORE IS FAKE!</p>
    <p>If you add things to your cart, and try to purchase them, it will fail, because...</p>
    <p>We are a Fake Website.</p>
    <p>If you like these products and would like to purchase them, please visit these fine retailers who were the inspiration for this project:</p>

    <a href="http://www.criticalhitgames.net/">Critical Hit Games</a>
    <a href="https://www.hobbycorner.net/">Hobby Corner</a>
    <a href="https://www.redraccoongames.com/">Red Raccoon Games</a>
    <a href="https://www.games-workshop.com/en-US/Home?_requestid=20851971">Games Workshop</a>
    <a href="https://meeplesgames.com/">Meeple Games</a>

</body>
</html>