<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script type="text/javascript">
        $(document).ready(function() {
            $('.toast').toast({
                autohide: false
            });
            $('.toast').toast('show');
        })
    </script>

</head>

<body>
    <div class="container-fluid min-vh-100">
        <!-- Navbar -->
        <ul class="nav top_nav justify-content-center row myTab mb-2" role="tablist">
            <li class="nav-item">
                <p class="navbar-brand light_text">Hello {{current_user.first_name}}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link light_text" href="/">Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link light_text" href="/admin/home">Admin Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link light_text" href="/admin/news">News</a>
            </li>
            <li class="nav-item">
                <a href="/admin/user_manager" class="nav-link light_text">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link light_text" href="/users/logout">Log Out</a>
            </li>
        </ul>

        <div class="row justify-content-center">
            <div class="col-4">
                <div class="row justify-content-center">
                    <!-- Add Product -->
                    <div class="col">
                        <h5 class="dark_text">Add Product</h5>
                        <form action="/create_product" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control shadow" type="text" placeholder="Enter a product name" id="product_name" name="product_name" required>
                                <textarea class="form-control shadow" id="product_description" name="product_description" rows="9" placeholder="Enter a product description"></textarea>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text dark_text">$</span>
                                    </div>
                                    <input class="form-control mr-2 shadow" type="number" id="product_price" name="product_price" aria-label="product_price" step="0.01" placeholder="Enter price">
                                    <input class="form-control shadow" type="number" id="product_inventory" name="product_inventory" aria-label="product_inventory" placeholder="Inventory">
                                </div>
                                <select class="form-control dark_text shadow" name="product_category" id="product_category" aria-label="product_category">
                                    <option value="" selected>Choose Category</option>
                                    {% for category in all_categories %}
                                    <option value="{{ category.id }}" class="dark_text">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                                <select class="form-control dark_text shadow" name="product_brand" id="product_brand" aria-label="product_brand">
                                    <option value="" selected>Choose Brand</option>
                                    {% for brand in all_brands %}
                                    <option value="{{ brand.id }}" class="dark_text">{{ brand.name }}</option>
                                    {% endfor %}
                                </select>

                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input shadow" id="product_image" name="product_image" aria-describedby="inputGroupFile01">
                                        <label class="custom-file-label dark_text shadow" for="inputGroupFile01">Choose image file</label>
                                    </div>
                                </div>
                            </div>
                            <div class="justify-content-center">
                                <button type="submit" class="btn btn-sm btn-info shadow">Save</button>
                            </div>
                        </form>
                    </div>

                    <!-- Add Category and Brand -->
                    <div class="col">
                        <h5 class="dark_text">Add New Category</h5>
                        <form action="/create_category" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control shadow" type="text" placeholder="Add New Category" id="new_category" name="new_category">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-sm btn-info shadow">Save</button>
                            </div>
                        </form>

                        <h5 class="dark_text mt-3">Add New Brand</h5>
                        <form action="/create_brand" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control shadow" type="text" placeholder="Add New Brand" id="new_brand" name="new_brand">
                                <select class="form-control dark_text shadow" name="brand_category" id="brand_category" aria-label="brand_category">
                                    <option value="" selected>Choose Category</option>
                                    {% for category in all_categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-sm btn-info shadow">Save</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Add items to sale lists -->
                <div class="row justify-content-center">
                    <div class="col">
                        <h5 class="dark_text font-weight-bold d-block mt-4">Add to List</h5>
                        <form class="mb-4" action="/products/assign_to_sale" method="POST">
                            {% csrf_token %}
                            <select class="form-control dark_text" name="assign_sale_list" aria-label="sale_list">
                                <option value="" selected>Select List</option>
                                <option value="1">1 - Right Top</option>
                                <option value="2">2 - Right Middle</option>
                                <option value="3">3 - Right Bottom</option>
                                <option value="4">4 - Jumbotron</option>
                            </select>
                            <select class="form-control dark_text" name="sale_item" id="sale_item" aria-label="sale_item">
                                <option value="" selected>Select Product to Add</option>
                                {% for product in all_products %}
                                <option value="{{ product.id }}">{{ product.name }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-sm btn-info mt-2">Add</button>
                        </form>
                    </div>

                        <!-- Update discounts for Sale Lists -->
                        <h5 class="dark_text d-block mt-3">Edit Discount</h5>
                        <form class="mb-4" action="/admin/update_sale" method="POST">
                            {% csrf_token %}
                            <select class="form-control dark_text shadow" name="update_sale_list" aria-label="update_sale_list" id="update_sale_list">
                                <option value="" selected>Select List</option>
                                <option value="1">1 - Right Top</option>
                                <option value="2">2 - Right Middle</option>
                                <option value="3">3 - Right Bottom</option>
                                <option value="4">4 - Jumbotron</option>
                            </select>
                            <input class="form-control shadow" type="number" placeholder="{{sale.discount}}" id="new_sale_discount" name="new_sale_discount" placeholder="Discount for Sale" required>
                            <div>
                                <button type="submit" class="btn btn-sm btn-info mt-2 shadow">Update</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <!-- Error messages -->
                    {% if messages %} {% for message in messages %} {% if message.tags == 'error' %}
                    <div class="alert toast float-left shadow">
                        <div class="toast-header">
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">×</button>
                        </div>
                        <div class="toast-body text-dark">
                            {{message}}
                        </div>
                    </div>
                    {% endif %} {% endfor %} {% endif %}
                </div>

            </div>

            <!-- Edit Product Table: selecting item populates form below for editing -->
            <div class="col-7">
                <h5 class="dark_text">All Products</h5>
                <div class="overflow-auto main_area border shadow" id="edit_product_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="dark_text" scope="col">Name</th>
                                <th class="dark_text" scope="col">Category</th>
                                <th class="dark_text" scope="col">Brand</th>
                                <th class="dark_text" scope="col">Price</th>
                                <th class="dark_text" scope="col">Inventory</th>
                                <th class="dark_text" scope="col">Sale</th>
                                <th class="dark_text" scope="col">Discount %</th>
                                <th class="dark_text" scope="col">Image</th>
                                <th class="dark_text" scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in all_products %}
                            <tr>
                                <th scope="row"><a href="/product/admin_product_detail/{{product.id}}" class="dark_text">{{product.name}}</a></th>
                                <td class="dark_text">{{product.category.name}}</td>
                                <td class="dark_text">{{product.brand.name}}</td>
                                <td class="dark_text">{{product.price}}</td>
                                <td class="dark_text">{{product.inventory}}</td>
                                <td class="dark_text">{{product.sale.id}}</td>
                                <td class="dark_text">{{product.sale.discount}}%</td>
                                <td>
                                    <img src="{{product.image.url}}" alt="product_image" width="50px" />
                                </td>
                                <td><button class="btn-danger" onclick="delete_product('{{product.id}}')">Remove</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Display product info in modal for editing -->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title dark_text">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="product_category" class="dark_text">Category</label>
                            <select class="form-control dark_text" name="product_category" id="product_category" aria-label="product_category">
                                <option value="{{ category.id }}" class="dark_text">{{ product.category }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="product_brand" class="dark_text">Brand</label>
                            <select class="form-control dark_text" name="product_brand" id="product_brand" aria-label="product_brand">
                                    <option value="{{ brand.id }}" class="dark_text">{{ product.brand }}</option>
                                </select>
                        </div>

                        <div class="form-group">
                            <label for="product_brand" class="dark_text">Name</label>
                            <select class="form-control dark_text" name="product_brand" id="product_brand" aria-label="product_brand">
                                <option value="{{ product.id }}" class="dark_text">{{ product.name }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="product_description" class="dark_text">Description</label>
                            <textarea class="form-control" aria-label="{{product.description}}" id="product_description">{{product.description}}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="product_image" class="dark_text">Image</label>
                            <img src="{{product.image}}" alt="product image">
                            <input type="file" class="form-control-file" id="product_image" name="product_image" value="{{product.image}}">
                        </div>

                        <div class="form-group">
                            <label for="product_price" class="dark_text">Price</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text dark_text">$</span>
                                </div>
                                <input class="form-control" type="number" id="product_price" name="product_price" aria-label="product_price" step="0.01" value="{{product.price}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="product_inventory" class="dark_text">Quantity on hand</label>
                            <div class="input-group mb-3">
                                <input class="form-control" type="number" id="product_inventory" name="product_inventory" value="{{product.inventory}}">
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <label for="sale_select">Sale Item</label>
                                    <input type="checkbox" aria-label="Checkbox for sale" name="sale_select" id="sale_select" value="{{product.sale_select}}">
                                </div>
                            </div>
                            <label for="discount_amount">Discount Amount</label>
                            <input type="number" class="form-control" aria-label="Amount discount" name="discount_amount" id="discount_amount" value="{{product.discount_amount}}">
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>