<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin News</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container-fluid min-vh-100">
        <!-- Navbar -->
        <ul class="nav top_nav justify-content-center row myTab mb-2" role="tablist">
            <li class="nav-item">
                <p class="">Hello {{current_user.first_name}}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/">Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/home">Admin Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/news">News</a>
            </li>
            <li class="nav-item">
                <a href="/admin/user_manager" class="nav-link">Users</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nave-link" href="/users/logout">Log Out</a>
            </li>
        </ul>

        <div class="container-fluid min-vh-100">
            <div class="row justify-content-center">
                <div class="col-4">
                    <h5 class="dark_text">Article Input</h5>
                    <form action="/admin/news/create_article" method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="article_title">Title</span>
                            </div>
                            <input type="text" class="form-control" aria-label="article_title" aria-describedby="article_title" name="article_title">
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">News Article</span>
                            </div>
                            <textarea class="form-control" aria-label="With textarea" name="article_content"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success my-4">Submit</button>
                    </form>
                </div>

                <div class="col-6">
                    <p>This will list all past articles for reference</p>
                    {% for article in all_articles %}
                        <h3>{{article.title}}</h3>
                        <p><em>by: {{article.author.first_name}} {{article.author.last_name}}</em></p>
                        <p>{{article.content}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>