<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row justify-content-center">
        <ul class="nav top_nav">
            <li class="nav-item">
                <p class="dark_text">Hello {{user.first_name}}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Admin Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Users</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nave-link" href="#">Log Out</a>
            </li>
        </ul>
    </div>


    <div class="container-fluid min-vh-100">
        <h5 class="dark_text">Article Input</h5>
        <div class="col-6">
            <form action="#" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="article_title">Title</span>
                    </div>
                    <input type="text" class="form-control" aria-label="article_title" aria-describedby="article_title" name="article_title">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">News Article</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" name="article_content"></textarea>
                </div>
                <button type="button" class="btn button-success">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>