<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>

<body>
    <h5 class="dark_text">{{current_order.user.first_name}}'s Cart</h5>
    <table class="table">
        <tbody>
            {% for item in current_order.order_items.all %}
            <tr class="row">
                <td><img src="{{item.product.image.url}}" alt="{{item.product.name}}" width="50px"></td>
                <td>{{item.product.name}}</td>
                <td class="price">{{item.product.price}}</td>
                <td><input class="quantity" type="number" placeholder="{{item.quantity}}" name="item_quantity"><button class="btn" onclick="update_quantity(item.order_items.id)">Update</button></td>
                <td><button class="btn" onclick="remove_item('{{item.id}}')">Remove</button></td>
                <td class="total">
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="dark_text">Total</td>
                <td class="dark_text">{{current_order.total}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn" onclick="empty_cart()">Empty Cart</button>
        <button class="btn" onclick="checkout()">Checkout</button>
    </div>
</body>

</html>