<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
</head>

<body>
    <h5 class="dark_text mb-0 pb-0 font-weight-bold">Checkout</h5>
    <div class="row ml-2 mr-2 mt-0 mb-2 mt-0 border-bottom content-justify-center">
        <!-- Member Sign in ; if signed in is welcome, if not is form -->
        <div class="col-5 p-2">
            {% if 'current_user' in request.session %}
            <h5 class="dark_text">Welcome back {{user.first_name}}</h5>
            {% else %}
            <h5 class="dark_text font-weight-bold">Member Sign In</h5>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="login_email">Email address</label>
                    <input type="email" class="form-control" id="login_email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="login_password">Password</label>
                    <input type="password" class="form-control" id="login_password">
                    <button class="btn btn-info mt-1">forgot password</button>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="wants_newsletter">
                    <label class="form-check-label" for="wants_newsletter">Sign me up for the Newsletter</label>
                </div>
            </form>
            <button class="btn btn-primary" role="button" data-toggle="modal" data-target="#login_modal">Log in</button>
            {% endif %}
        </div>

        <!-- Guest sign in ; will add to mailing for newsletter -->
        <div class="col-5 p-2">
            <h5 class="dark_text font-weight-bold">Guest Checkout</h5>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="guest_name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="guest_email" aria-describedby="emailHelp" placeholder="Email Address">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-info font-weight-bold">Checkout as Guest</button>
            </form>
        </div>
    </div>

    <div class="row m-2 mb-0">
        <div class="col-8 p-1">
            <div id="shipping_info" class="border-bottom">
                <p class="dark_text font-weight-bold mb-1">Shipping Address</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="dark_text input-group-text">First and last name</span>
                        </div>
                        <input type="text" aria-label="First name" class="dark_text form-control" name="first_name" placeholder="{{user.first_name}}">
                        <input type="text" aria-label="Last name" class="form-control dark_text" name="last_name" placeholder="{{user.last_name}}">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="dark_text input-group-text">Address</span>
                        </div>
                        <input type="text" aria-label="Address" class="dark_text form-control" name="address" placeholder="{{user.address}}">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text dark_text">City, State, Zip</span>
                        </div>
                        <input type="text" aria-label="City" class="dark_text form-control" name="city" placeholder="{{user.city}}">
                        <input type="text" aria-label="State" class="dark_text form-control" name="state" placeholder="{{user.state}}">
                        <input type="text" aria-label="Zip Code" class="dark_text form-control" name="zip_code" placeholder="{{user.zip_code}}">
                    </div>
                    <div>
                        <input type="checkbox">
                        <span class="dark_text">Save Shipping Address</span>
                    </div>
                </form>
            </div>

            <div id="shipping_info" class="border-bottom">
                <p class="dark_text font-weight-bold">Shipping Method</p>
                <p>This will be populated with shipping method and/or shipping options stuff</p>
            </div>
        </div>

        <div class="col-3 p-0">
            <div class="border-left">
                <p class="dark_text font-weight-bold ml-2 font-weight-bold">Order Summary</p>
                <div class="row ml-3">
                    <p class="dark_text text-right col">Your Cart</p>
                    <p class="dark_text text-right col">{{order.total}}</p>
                </div>
                <div class="row ml-3 border-bottom">
                    <p class="dark_text text-right col">Shipping</p>
                    <p class="dark_text text-right col">{{order.shipping}}</p>
                </div>
                <div class="row ml-3">
                    <p class="dark_text text-right col">Subtotal</p>
                    <p class="dark_text text-right col">{{order.cart_total}}</p>
                </div>
                <div class="row ml-3">
                    <p class="dark_text text-right col">Est. Tax</p>
                    <p class="dark_text text-right col">{{order.tax}}</p>
                </div>
                <div class="row ml-3">
                    <p class="dark_text font-weight-bold text-right col">Total</p>
                    <p class="dark_text text-right col">{{order.total}}</p>
                </div>
                <button class="btn btn-info float-right" role="button" data-toggle="modal" data-target="#checkout_modal">Place Order</button>
            </div>
        </div>
    </div>
    <div class="row ml-2">
        <p class="dark_text mb-0 font-weight-bold">Your Cart (select item to edit cart)</p>
    </div>
    <div class="overflow-auto d-block row m-1">
        <table class="table">
            <tbody>
                {% for item in order.order_items.all %}
                <tr class="border-bottom">
                    <th scope="row"><img src="{{item.product.image.url}}" alt="{{item.product.name}}" height="100px"></th>
                    <td class="align-middle"><button class="btn dark_text">{{item.product.name}}</button></td>
                    <td class="dark_text align-middle">{{item.product.price}} x</td>
                    <td class="dark_text align-middle">{{item.quantity}}</td>
                    <td class="dark_text align-middle">{{item.order.total}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal" id="checkout_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thank You For Visiting!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>Thank you for shopping at our FAKE store! None of your financial data will be saved. Have a nice day!</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Forgot Password Modal -->
    <div class="modal" id="register_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Forgot Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p class="dark_text">Please enter your email address so we can send you a reset code</p>
                        <div class="form-group">
                            <label for="user_email">Email address</label>
                            <input type="email" class="form-control" id="user_email" name="user_email" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="temp_code">Reset Code</label>
                            <input type="number" class="form-control" id="temp_code" name="temp_code">
                        </div>
                        <div class="form-group">
                            <label for=""></label>
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Cart Modal -->
    <div class="modal" id="register_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p class="dark_text">{{item.name}}</p>
                        <label for="item_quantity">Quantity</label>
                        <input type="number" class="form-control" id="item_quantity" name="item_quantity">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>