<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project: Hobby - Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
    <a href="/store">Home</a>
    <p>If you like this site, and would like to know more about the creators, you can check us out here:</p>
    <div>
        <h1>Russ Lance</h1>
        <p>picture</p>
        <p>bio</p>
        <a href="#">LinkedIn</a>
        <a href="#">GitHub</a>
        <a href="#">Portfolio Site</a>
    </div>
    <div>
        <h1>Ben Lance</h1>
        <p>picture</p>
        <p>bio</p>
        <a href="#">LinkedIn</a>
        <a href="#">GitHub</a>
        <a href="#">Portfolio Site</a>
    </div>
    <div>
        <h1>Stephen Graham</h1>
        <p>picture</p>
        <p>bio</p>
        <a href="#">LinkedIn</a>
        <a href="#">GitHub</a>
        <a href="#">Portfolio Site</a>
    </div>
</body>
</html>