<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project: Hobby</title>
</head>
<body>
    <div>
        <h3>what if our store were called:</h3>
        <h1>Project: Hobby</h1>
        <p>let me know what you think. -s</p>
    </div>
    <hr>
    <div>
        <a href="#">MapImage</a>
        <a href="/store">HomeImage</a>
        <a href="/store/news">News</a>
        <a href="/store/events">Events</a>
        <a href="/store/about_us">About Us</a>
        <a href="/store/contact_us">Contact Us</a>
    </div>
    <div>
        <input type="search" value="search">
        <a href="#">My Cart</a>
        <a href="#">CartLogo</a>
        <p>ProfileLogo</p>
    </div>
    <div>Main Logo</div>
    <div>
        <a href="#">Role Playing Games</a>
        <a href="#">Card Games</a>
        <a href="#">Dice Building Games</a>
        <a href="#">Board Games</a>
        <a href="#">Video Games</a>
        <a href="#">Puzzles</a>
        <a href="#">Collectibles</a>
    </div>
    <div>
        <h1>Main Product View Area</h1>
    </div>
    <div>
        <a href="#">Featured Items</a>
        <p>Item</p>
        <p>Item</p>
        <p>Item</p>
    </div>
</body>
</html>