<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project: Hobby</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        $(document).ready(function() {
            $('.toast').toast({
                autohide: false
            })
            $(".toast").toast("show")
        })
    </script>
</head>

<body>
    <div class="container-fluid min-vh-100">
        <div class="top_nav row justify-content-center myTab shadow" id="top_navbar">
        </div>
        <ul class="nav top_nav fixed-bottom justify-content-center row myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button id="AboutUs" class="nav-link contact-tab btn btn-link" role="tab" aria-controls="contact" aria-selected="false">About Us</button>
            </li>
            <li class="nav-item" role="presentation">
                <button id="contactUs" class="nav-link contact-tab btn btn-link" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Contact Us</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active btn btn-link" id="directions" data-toggle="tab" onclick="display_directions()" role="tab" aria-controls="home" aria-selected="true">Directions
                    </button>
            </li>
        </ul>

        <div class="row justify-content-center mr-0">
            <!-- Vertical navbar -->
            <div class="col-2">
                <img src="../static/images/gamestore_icon.png" alt="Logo" class="d-block offset-5 mt-1" id="logo">
                <div class="btn-group offset-5 shadow mt-2">
                    <ul class="nav flex-column">
                        {% for categories in all_categories %}
                        <li class="nav flex-column dropright">
                            <button onclick="loadCategory('{{categories.id}}')" type="button" class="category btn btn-secondary rounded-0 text-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ categories.name }}</button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-6">
                <div class="border main_area p-2 pt-1 shadow light_background" id="content">
                    <!-- Main Content area loaded by AJAX -->
                </div>
            </div>

            <div class="col-2 align-top">
                <!-- Right Top Sale -->
                <div class="row justify-content-center feature_box border shadow align-top p-1 top_nav mt-2">
                    <div id="first_featured_item" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% if sale_list_1 != None %} {% for item in sale_list_1 %} {% if item == sale_list_1.0 %}
                            <div class="carousel-item active mx-auto my-auto">
                                {% else %}
                                <div class="carousel-item mx-auto my-auto">
                                    {% endif %}
                                    <img src="{{item.image.url}}" alt="product_image" class="feature_item" />
                                </div>
                                {% endfor %}
                                <a class="carousel-control-prev" href="#first_featured_item" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#first_featured_item" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- Right Middle Sale -->
                    <div class="row justify-content-center feature_box border mt-5 shadow align-middle p-1 top_nav">
                        <div id="second_featured_item" class="carousel slide border" data-ride="carousel">
                            <div class="carousel-inner">
                                {% if sale_list_2 != None %} {% for product in sale_list_2 %} {% if product == sale_list_2.0 %}
                                <div class="carousel-item active mx-auto my-auto">
                                    {% else %}
                                    <div class="carousel-item mx-auto my-auto">
                                        {% endif %}
                                        <img src="{{product.image.url}}" alt="product_image" class="feature_item" />
                                    </div>
                                    {% endfor %}
                                    <a class="carousel-control-prev" href="#second_featured_item" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#second_featured_item" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Right Bottom Sale -->
                        <div class="row justify-content-center feature_box border mt-5 shadow align-bottom p-1 top_nav">
                            <div id="third_featured_item" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% if sale_list_3 != None %} {% for item in sale_list_3 %} {% if item == sale_list_3.0 %}
                                    <div class="carousel-item active mx-auto my-auto">
                                        {% else %}
                                        <div class="carousel-item mx-auto my-auto">
                                            {% endif %}
                                            <img src="{{item.image.url}}" alt="product_image" class="feature_item" />
                                        </div>
                                        {% endfor %}
                                        <a class="carousel-control-prev" href="#third_featured_item" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#third_featured_item" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <!-- Login Modal -->
                    <div class="modal" id="login_modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Log In</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/users/login" id="loginform" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">

                                            <label for="login_email">Email address</label>
                                            <input type="email" class="form-control" id="login_email" name="login_email" aria-describedby="emailHelp">
                                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="login_password">Password</label>
                                            <input type="password" class="form-control" id="login_password" name="login_password">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Log In</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Register Modal -->
                    <div class="modal" id="register_modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Register</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/users/register" id="registerform" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="user_first_name">First Name</label>
                                            <input type="text" name="user_first_name" id="user_first_name">
                                        </div>
                                        <div class="form-group">
                                            <label for="user_last_name">Last Name</label>
                                            <input type="text" name="user_last_name" id="user_last_name">
                                        </div>
                                        <div class="form-group">
                                            <label for="user_email">Email address</label>
                                            <input type="email" class="form-control" id="user_email" name="user_email" aria-describedby="emailHelp">
                                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="user_password">Password</label>
                                            <input type="password" class="form-control" id="user_password" name="user_password">
                                        </div>
                                        <div class="form-group">
                                            <label for="user_password_conf">Password</label>
                                            <input type="password" class="form-control" id="user_password_conf" name="user_password_conf">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Product Details Modal -->
                    <div class="modal" id="login_modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title dark_text">{{product.name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="dark_text">{{product.description}}</p>
                                    <p class="dark_text">{{product.price}} <img src="{{product.imgage}}" alt="product image"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="add_to" class="btn btn-secondary" data-dismiss="modal" value="{{product.id}}" onclick="add_to_cart()">Add to Cart</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if messages %} {% for message in messages %} {% if message.tags == 'error' %}
        <div class="alert toast ml-auto">
            <div class="toast-header">
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">×</button>
            </div>
            <div class="toast-body text-dark">
                {{message}}
            </div>
        </div>
        {% endif %} {% endfor %} {% endif %}
</body>

</html>