<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>

<body>
    <ul class="nav top_nav justify-content-center row myTab shadow" id="top_navbar" role="tablist">
        <li class="nav-item navbar-brand my-0">
            <button class="nav-link active btn btn-link m-0 p-0" id="home" onclick="display_home()" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true">
                <h1 class="m-0 p-0">Project: Hobby</h1>
            </button>
        </li>
        <button class="btn btn-link col" id="search" data-toggle="tab" role="tab" aria-controls="search" aria-selected="false"><input class="form-control" type="number" id="search" name="search" placeholder="Search"></button>
        <li class="nav-item navbar-text" role="presentation">
            <button class="btn btn-link nav-link" onclick="display_news()" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">News</button>
        </li>
        <li class="nav-item navbar-text" role="presentation">
            <button class="nav-link contact-tab btn btn-link" onclick="display_events()" id="events" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Events</button>
        </li>

        <li class="nav-item navbar-text" role="presentation">
            <button class="nav-link contact-tab btn btn-link" onclick="display_cart()" id="cart" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">My Cart <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>{{cart_quantity}}</button>
        </li>
        {% if current_user == None %}
        <li class="nav-item navbar-text" role="presentation">
            <button class="nav-link contact-tab btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="login" role="tab" aria-controls="contact" aria-selected="false"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg></button>
            <div class="dropdown-menu py-0" aria-labelledby="login">
                <button class="btn dropdown-item" data-toggle="modal" data-target="#login_modal">Log in</button>
                <button class="btn dropdown-item" data-toggle="modal" data-target="#register_modal">Register</button>
            </div>
        </li>
        {% else %}
        <li class="nav-item navbar-text" role="presentation">
            <a href="/users/logout" class="btn btn-link nav-link contact-tab">Log Out</a>
        </li>
        {% endif %} {% if current_user.admin %}
        <li class="nav-item navbar-text" role="presentation">
            <a href="/admin/home" class="btn btn-link nav-link contact-tab">Admin Home</a>
        </li>
        {% endif %}
    </ul>
    
</body>

</html>