<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project: Hobby - News</title>
</head>

<body>
    <div>
        <h1 class="dark_text">Project: Hobby News</h1>
    </div>
    <div>
        {% for article in all_articles %}
        <h1 class="dark_text">{{article.title}}</h1>
        <p class="text-wrap dark_text">{{article.content}}</p>
        <p class="dark_text">{{article.updated_at}}</p>
        <p class="border"></p>
        {% endfor %}
    </div>

</body>

</html>