<!DOCTYPE html>
<html lang="en">
<div class="container-fluid light_background">
    <div class="row top_nav myTab">
        <nav class="navbar navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-4">
                <p class="navbar-brand" disabled>Sort by:</p>
                <button class="btn myTab" onclick="sort_category('{{category.id}}', 'brand')">Brand</button>
                <button class="btn myTab" onclick="sort_category('{{category.id}}', 'name')">Name</button>
                <button class="btn myTab" onclick="sort_category('{{category.id}}','high')">Price - High</button>
                <button class="btn myTab" onclick="sort_category('{{category.id}}','low')">Price - Low</button>
            </div>
        </div>
    </div>

    <!-- Main product display area -->
    <div class="overflow-auto interior row">
        <ul class="list-group w-100">
            {% for product in products_in_category %}
            <li class="list-group-item">
                <button type="button" class="list-group-item list-group-item-action row p-2 m-0 product_button" onclick="show_product('{{product.id}}')">
                    <div class="row w-100">
                        <p class="col d-inline-block"><img src="{{product.image.url}}" alt="{{product.name}}" height="150px"></p>
                        <p class="col d-inline-block align-middle">{{product.name}}</p>
                        <p class="col d-inline-block">{{product.price}}</p>
                    </div>
                </button>
            </li> {% endfor %}
        </ul>
    </div>

</div>

</html>