<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Display</title>
</head>

<body>
    <div>
        <div class="fixed-top">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <p>Sort by:</p>
                    <button class="btn" data-toggle="modal" data-target="#sort_by_brand">Brand</button>
                    <button class="btn" data-toggle="modal" data-target="#sort_by_name">Name</button>
                    <button class="btn" data-toggle="modal" data-target="#sort_price_high">Price - High</button>
                    <button class="btn" data-toggle="modal" data-target="#sort_price_low">Price - Low</button>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
        </div>

        <!-- Main product display area -->
        <div class="p-2">
            <table class="table">
                <tbody>
                    {% for product in products_in_category %}
                    <button type="button" class="list-group-item list-group-item-action active" onclick="show_product">
                        <tr>
                            <th scope="row">{{product.name}}</th>
                            <td>{{product.price}}</td>
                            <td>{{product.image}}</td>
                        </tr>
                    </button> {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>